.myWorksCard {
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 1rem 1rem 2rem 1rem;
  margin-top: 1rem;
  width: max-content;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 1px 10px 1px rgba(0, 0, 0, 0.15);
}

.myWorksCard-top {
  display: flex;
  align-items: center;
  gap: .6rem;
}

.myWorksCard-title {
  color: var(--main-text);
  font-size: 1.4rem;
  user-select: none;
}

.myWorksCard-edit {
  color: var(--text);
  cursor: pointer;
}

.myWorksCard-delete {
  color: red;
  cursor: pointer;
}

.myWorksCard-bottom {
  display: flex;
  gap: 1.5rem;
}

.myWorksCard--details {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.myWorksCard-bottom-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4rem;
  padding: 2rem 0;

}

.myWorksCard-add {
  color: var(--main);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
  font-size: 1.3rem;
  cursor: pointer;
  margin-top: 8rem;
}

.myWorksCard-add > svg {
  font-size: 1.8rem;
}

.myWorksCard-more{
    color: var(--text);
    font-size: 1.3rem;
    cursor: pointer;
}
