.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 100;
    top: 100px;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
    transition: all .3s linear;
  }
  
  .sidebar a {
    text-decoration: none;
    display: block;
    transition: 0.3s;
    font-size: 14px;
    font-weight: lighter;
    height: 40px;
    padding: .5rem 1rem;
  }
  
  .sidebar a span {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .sidebar-title{
    position: absolute;
    margin-right: 1rem;
    transition: all 0.2s linear;
    opacity: 1;
    right: 1rem;
  }
  /* .sidebar a span h3.title-toggled{
    display: none;
  } */

  .sidebar-title-hidden{
    opacity: 0;
    right: -4rem;
    /* display: none; */
    /* transition: all 0.3s linear; */
/* transition-delay: 0; */
  }

  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }

  .sidebar-toggled{
    width: 100px;
  }


  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }