.myWorksDetails {
  position: relative;
  width: 300px;
  background-color: #ffffff;
  border-radius: 1rem;
  margin-top: 1rem;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 1px 10px 1px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  cursor: pointer;
}

.myWorksDetails:hover .myWorksDetails-image{
    transform: scale(1.05);
}


.myWorksDetails-image {
  width: 300px;
  height: 250px;
  overflow: hidden;
  z-index: 100;
  border-radius: 1rem 1rem 0 0;
  transition: all .3s ease-in-out;
}

.myWorksDetails-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.myWorksDetails-title {
  color: var(--text);
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
}

.myWorksDetails-icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .2rem;
  background-color: #ffffff;
  border-radius: .3rem;
  top: .75rem;
  right: .75rem;
  cursor: pointer;
}

.myWorksDetails-icon > svg {
    transition: all .3s linear;
}

.myWorksDetails-icon:hover > svg {
    transform: scale(1.3);
}
