:root {
  --main: #1352fb;
  --main-text: #9baaed;
  --text-bg:#f2f4fd;
  --text:#b6b5b8;
  --text-title:#c7c0c5;
  --sidebar-hover:#f3f5ff
}

.App{
  position: relative;
  height: 100vh;
}

.sidebarSlider{
  position: fixed;
  top: 50%;
  right: 232px;
  z-index: 100;
  color: var(--main);
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #ffffff;
  transition: all .3s linear;
  padding: .4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sidebarSlider > svg {
  font-size: 1.2rem;
}

.sidebarSliderToggled{
  right: 63px;
}