.App{
  position: relative;
  height: 95vh;
}

.sidebarSlider{
  position: absolute;
  top: 20rem;
  right: 220px;
  z-index: 1000;
  color: blue;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #ccc;
  padding: .5rem;
  transition: all .3s linear;
}

.sidebarSliderToggled{
  transform: translateX(145px);
}